.title{
    text-align: center;
}
.underline{
    margin: -20px auto;
    background: skyblue;
    width: 30px;
    height: 4px;
}
.parent{
    overflow: hidden;
    width: 90%;
    height: 520px;
    background: rgba(220, 220, 220, 0.281);
    margin: 150px auto;
}
.div1{
    width: 400px;
    height: 100%;
    background: white;
    float: left;
}
.div2{
    width: 400px;
    height: 100%;
    background: white;
    float: left;
    margin: 0px 41px;
}
.div3{
    width: 400px;
    height: 100%;
    background: white;
    float: right;
}
.Mo{
    width:165px; 
    height:220px;
    display: block;
    margin-bottom: 40px;
}
.i1{
    color: rgb(36, 178, 234);
    margin-bottom: 30px;
    display: inline-block; 
}
.i2,.i3{
    color: rgb(36, 178, 234);
    margin-bottom: 30px;
    margin-left: 50px;
    display: inline-block;
}
span{
    color: black;
    font:status-bar;
}
.subtitle{
    vertical-align:baseline;
    display:initial;
}
.subtitle1{
    display:inline;
}
.para1{
color: gray;
margin: 20px 0px;
}
.link{
    text-decoration: none;
    color: rgb(36, 178, 234);
    font: message-box;
}
.div1:hover,.div2:hover,.div3:hover{
    background: salmon;
}